.popup__wrap {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;

    &.tip {
        background: #00000033;
    }
}